# LaTeX-specific files
*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.fdb_latexmk
*.fls
*.xdv
*.lof
*.lot
*.gz
*.dvi
*.idx
*.ilg
*.ind
*.ist
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.ist
*.log
*.loa
*.lol
*.los
*.nlo
*.nls
*.run.xml
*.spl
*.synctex(busy)
*.syndctex.gz
*.pdf
